<h1>Sign Up Confirmation</h1>

<h3>Are you sure these values are correct?</h3>

<p>Email: <%= @user.email %></p>
<p>Name: <%= @user.name %></p>

<%= button_to "Yes", {:controller => "users", :action => "create", :params => params}, class: 'btn btn-success' %>
<%= link_to "No", {:controller => "users", :action => "new"}, class: 'btn' %>
